@model Dounuts_shop.ViewModels.DonutListViewModel

<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
        @await Component.InvokeAsync("CategoryMenu")
    </aside>
    <div class="container">
        <div class="container-fluid">
            <br />
            <h1> <b style="color: #50c0e7">Our</b> <b style="color: #243b45">Donuts</b></h1>
            <h6 class="text-muted"><i>Donuts / @Model.CurrentCategory</i></h6>
            <br />
            <div class="row">
                @foreach (var item in Model.donuts)
                {
                <partial name="_DonutCard" model="item" />
                }
            </div>
        </div>
    </div>
</div>