@model Dounuts_shop.ViewModels.DonutListViewModel

<br />
<h1> <b style="color: #50c0e7">Our</b> <b style="color: #243b45">Donuts</b></h1>
<h6 class="text-muted"><i>Donuts / @Model.CurrentCategory</i></h6>
<br />



  <div class="container">
    <div class="row">
      @foreach (var item in Model.donuts)
        {
            <partial name = "_DonutCard" model="item" />
        }
    </div>
  </div>
@*
    CSS Colors codes
    hot pink ->     #ce2761
    rose ->         #f3a3b2
    white ->        #ffffff
    black ->        #262626
    Blue ->         #50c0e7
    Pink ->         #df5879
    Dark Blue ->    #243b45
*@



