@using Donuts_shop.Models
@{
ViewData["Title"] = "Home";
}
@model HomeViewModel


<partial name="_Carousel" />

<div class="container">
    <br /><br />
    <h1> <b style="color: #50c0e7">Donuts</b> <b style="color: #243b45">of the Week</b></h1>
    <h5 class="text-muted"><i>Our Weekly Selection - Just for You !</i></h5>
    <br />

    <div class="row">
        @foreach(var donut in Model.DonutsOfTheWeek)
        {
        <partial name="_DonutCard" model="donut" />
        }
    </div>
</div>

